* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(255, 0, 0, 0.2);
    text-align: center;
    display: flex;
    flex-direction: column; 
    align-items: center;
}

h1 {
    margin: 20px;
}

.sketchpad {
    box-sizing: content-box;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: white;
    border: 10px solid red;
    margin: 20px auto;
}

.cell {
    border: 1px solid rgb(0, 0, 0, 0.2);
}

.cell-color {
    background-color: black;
}

.colored-cell-border {
    border: 1px solid rgba(255, 255, 255, 0.2);
}
